.wrapperfooter
  .footercontents
    .footercontents__home
      %i.fa.fa-home 
      = link_to "ホーム",root_path
    .footercontents__search
      %i.fa.fa-search
      = link_to "検索",root_path
    .footercontents__mypage
      %i.fa.fa-user
      = link_to "マイページ",root_path