.wrappermoviezone
  .moviezoneupper
    .moviezone__categoryname
      カテゴリー
    .moviezoneupper__paginate
      = paginate(@movies)
  .moviezonebottom
    - @movies.each do |movie|
      .moviezonebottomcontents
        .moviezonebottomcontents__movie
          = movie.move
        .moviezonebootmcontents__title
          = movie.title