.wrapper
  = render './share/header'
  -# = render './shared/visible-header'
  = render './share/footer'
  -# = render './shared/visible-category'
  -# = render './shared/flash'
  -# = render './shared/item_zone'
  -# = render './shared/visible-publicity'
  -# = render './shared/publicity'
  -# = render './shared/exhibitionbtn'