.searchwrapper
  .searchzone
    display: block
    margin: 0 auto
    margin-top: 20px
    display: block
    padding: 20px 30px 60px
    width: 900px
    height: 100px
    .search-input
      width: 850px
      height: 50px
      background-color: #fff
      box-shadow:  0 4px 6px rgba(146, 146, 146, 0.8)
      border-radius: 10px
      border-radius: 20px
      border: 2px solid rgba(0,0,0,.1)
      font-size: 15px  
      padding: 0 20px
    .search-submit
      display: block
      width: 140px
      padding: 12px 0
      margin: 0 auto
      margin-top: 20px
      color: #fff
      text-align: center
      border-radius: 6px
      background-color: #f1b400
      -webkit-transition: .3s
      transition: .3s
      cursor: pointer
      input
        border: none
        background-color: #f1b400
        color: #fff
        font-size: 15px
        font-weight: 500px 

    // .searchwrapper
    // .searchzone
    //   .searchzone__input
    //     = form_tag(search_movies_path,:method => 'get') do
    //       = text_field_tag :keyword, "", placeholder: "旅行先検索 例：沖縄", class: "search-input" 
    //       = submit_tag '検索', class: "search-submit" 